<div class="profile row">
  <div class="col">
    <div class="personal-info">
      <h2>Personal Information</h2>
      <hr />
      <h4>{{loggedUser.firstName}} {{loggedUser.lastName}}</h4>
      <p>{{loggedUser.username}}</p>
    </div>
  </div>
  <div class="col">
    <div class="vehicles" *ngIf="loggedUser.role === 'PERSON'">
      <h2>Your Vehicles</h2>
      <hr />
      <div class="vehicle" *ngFor="let car of ownerCars">
        {{car.brand}} | {{car.model}}
        <button (click)="showRequests(car.id)" class="btn">See Requests</button>
        <div *ngIf="visible === car.id">
          <div *ngFor="let r of requests;let i = index;">
            <hr />
            <div *ngIf="r.status === 'PENDING'">
              <p>User:{{r.userId}} | {{r.status}} | 
                <button (click)="approve()" class="approve">Approve</button>  
                <button (click)="decline()" class="decline">Decline</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>