.profile {
    max-width: 100%;
    margin: 0;
    padding: 50px;
    color: darkgoldenrod;
}

.personal-info {
    border-right: 1px solid lightgray;
    height: 70vh;
}

.vehicles {
    max-height: 40vh;
}

.vehicle {
    border-bottom: lightgray 1px solid;
    border-top: lightgray 1px solid;
    margin-bottom: 15px;
    padding: 20px;
}

.vehicle button {
    color: lightgray;
}

.approve, .decline {
    background-color: transparent;
    color:lightgray;
    border-radius: 3px;
    padding: 3px 5px;
    margin-right: 5px;
}

.approve {
    border: 1px solid green;
}

.decline {
    border: 1px solid red;
}

.apply-btn {
    background-color: transparent;
    color:lightgray;
    border: 1px solid darkgoldenrod;
    border-radius: 3px;
    padding: 3px 5px;
}

h2 {
    display: inline;
}