.cars {
    background-color: lightgray;
    min-height: 90vh;
    padding: 30px;
}

.filter-btn {
    background-color: darkslategray;
    color: lightgray;
    border: 0;
    margin-right: 20px;
}

.background {
    background:url('../../assets/gray2.jpg');
    background-size: cover;
    position: relative;
    border-radius: 10px 0 0 10px;
}

.btn-show {
    margin-right: 20px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid darkslategray;
    color: rgb(39, 39, 39);
}

.btn-filter-click {
    background-color: darkslategray;
    border-color: darkslategray;
    color:lightgray;
}

.carItem {
    background-color: rgba(39, 39, 39, 0.9);
    color: darkslategray;
    margin-bottom: 20px;
    padding: 30px;
    width: 100%;
    transition: width 1s;
    border-radius: 10px 0 0 10px;
}
.carItem:hover {
    width: 95%;
}

.details-btn {
    color: lightgray;
    background-color: rgb(39, 39, 39);
    border: darkslategray 1px solid;
}

.details-btn:hover {
    color: rgb(39, 39, 39);
    background-color: darkslategray;
}

.additional-btns {
    margin-bottom: 15px;
    margin-left: 20px;
}