.register {
    background: url('../../../assets/gray2.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.layer {
    background-color: rgb(39, 39, 39, 0.9);
    height: 100%;
    width: 100%;
    color: lightgray;
    padding: 50px;
}

.register-column {
    border-right: lightgray 1px solid;
    border-left: lightgray 1px solid;
    margin: 0 auto;
    padding: 30px;
}

.register-input {
    background-color: transparent;
    border: 0;
    border-bottom: darkslategray 1px solid;
    color: lightgray;
}

.dpr-status {
    display: inline;
}

.cdw-btn {
    display: block;
    background-color: darkslategray;
    border-color: darkslategray;
    color:white;
}

.img-btn {
    display: inline;
    background-color: darkslategray;
    border-color: darkslategray;
    color:white;
}

.btn-ok {
    margin-top: 7px;
    background-color: darkslategray;
    border-color: darkslategray;
    color:white;
    margin-right: 10px;
}

.img-btn:hover, .btn-ok:hover {
    color: lightgray;
}

.images-div {
    overflow: auto;
    padding: 10px;
    height: 250px;
    margin-top: 20px;
    background-color: rgb(47, 79, 79, 0.2);
}

.single-img {
    color: darkgoldenrod;
}