<div class="content">
    <table>
        <tr>
            <td>Username: </td>
            <td><input type="text" [(ngModel)]="username" /></td>
        </tr>
        <tr>
            <td>First name: </td>
            <td><input type="text" [(ngModel)]="firstName" /></td>
        </tr>
        <tr>
            <td>Last name: </td>
            <td><input type="text" [(ngModel)]="lastName" /></td>
        </tr>
        <tr>
            <td>Address: </td>
            <td><input type="text" [(ngModel)]="address" /></td>
        </tr>
        <tr>
            <td>PIB: </td>
            <td><input type="text" [(ngModel)]="PIB" /></td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn btn-success" (click)="register()">Register</button></td>
        </tr>
    </table>
</div>