.cars {
    background-color: lightgray;
    min-height: 90vh;
    padding: 30px;
}

.filter-btn {
    background-color: darkgoldenrod;
    color: rgb(39, 39, 39);
    border: 0;
    margin: 0 20px;
}

.background {
    background:url('../../assets/gray2.jpg');
    background-size: cover;
    position: relative;
    border-radius: 10px 0 0 10px;
}

.carItem {
    background-color: rgba(39, 39, 39, 0.9);
    color: darkgoldenrod;
    margin-bottom: 20px;
    padding: 30px;
    width: 100%;
    transition: width 1s;
    border-radius: 10px 0 0 10px;
}
.carItem:hover {
    width: 95%;
}

.details-btn {
    color: lightgray;
    background-color: rgb(39, 39, 39);
    border: darkgoldenrod 1px solid;
}

.details-btn:hover {
    color: rgb(39, 39, 39);
    background-color: darkgoldenrod;
}