<div class="carDetails">
    <div class="layer">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-12 details-column">
                <h1>{{car.brand}}</h1>
                <h1><em>{{car.model}}</em></h1>
            </div>
            <div class="col-lg-5 col-md-6 col-12 details-column">
                <h3 style="color:lightgray;">Details:</h3>
                <hr />
                <div class="info">
                    <div class="row">
                        <div class="col">
                            <p>Owner: {{car.owner}} [za sada id]</p>
                            <p>Location: {{car.location}}</p>
                            <p>Fuel Type: {{car.fuel_type}}</p>
                            <p>Transsmission: {{car.transmission}}</p>
                            <p>Distance: {{car.distance}} km</p>
                            <hr />
                            <p>Children Seats: {{car.childrenSeats}}</p>
                        </div>
                        <div class="col">
                            <p>Price: {{car.price}}€</p>
                            <p>Additional price per km: {{car.additionalPricePerKm}}€</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-12 details-column-1">
                <div *ngFor="let img of images">
                    <p><img width="500" height="400" src={{img}}></p>
                </div>
            </div>
        </div>
    </div>
    <div class="rent-div">
        <div class="row">
            <div class="col">
                <button *ngIf="loggedUser.role !== 'ADMIN'" [routerLink]="['/cart']" style="display: block;"
                class="btn details-btn" (click)="addToCart()">Add to cart</button>
            </div>
            <div class="col comments">
                <h4>Average grade:</h4>
                <div >
                    <p>{{avgGrade}}</p>
                </div>
            </div>
            <div class="col comments">
                <h4>Comments:</h4>
                <div >
                    <p *ngFor="let comment of comments">
                        <span *ngIf="comment.status === 'ACTIVE'">{{comment.userUsername}} - <em>"{{comment.text}}"</em></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>