.renReq {
    color: lightgray;
    padding: 50px;
}
.table {
    margin: 5em auto;
    max-width: 1000px;
    border: 2px solid #333333;
    box-shadow: 2px 2px 2px #444444;
    color: white;
}

.report {
    color: darkslategray;
    padding: 50px;
    margin: 0;
}