<div class="add-discount">
    <h2>Add discount</h2>
    <hr/>
    <div class="form-group">
        <label for="vehicle" class="col-sm-2 col-form-label" style="color: blanchedalmond;">Vehicle</label>
        <div class="col-sm-3">
            <select name="vehicle" id="vehicle" (change)="changeSelectedVehicle($event.target.value)"
                class="form-control">
                <option>Choose vehicle</option>
                <option *ngFor="let vehicle of vehicles" value="{{vehicle.id}}">
                    {{vehicle.brand}} {{vehicle.model}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="discount" class="col-sm-2 col-form-label" style="color: blanchedalmond;">Discount</label>
        <div class="col-sm-3">
            <select name="discount" id="discount" (change)="changeSelectedDiscount($event.target.value)"
                class="form-control">
                <option>Choose discount</option>
                <option *ngFor="let discount of discounts" value="{{discount.id}}">
                    {{discount.amount}}
                </option>
            </select>
        </div>
    </div>
    <button class="btn btn-add" (click)="submitNewDiscount()">Add</button>
</div>