.inbox {
    padding: 50px;
    color: darkgoldenrod;
}

.message {
    background-color: rgb(54, 54, 54);
    margin-bottom: 10px;
    padding: 20px;
}

.message button {
    color: lightgray;
}

.reply input {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: none;
    border: 0;
}

.reply button {
    background-color: transparent;
    border: 1px solid darkgoldenrod;
    color: lightgray;
    border-radius: 5px;
}