.cart {
    min-height: 90vh;
    padding: 50px;
    color:darkgoldenrod;
}

.cart hr {
    background-color: lightgray;
}

.filter-btn {
    background-color: darkgoldenrod;
    color: rgb(39, 39, 39);
    border: 0;
    margin-right: 20px;
}

.background {
    background:url('../../assets/gray2.jpg');
    background-size: cover;
    position: relative;
    border-radius: 10px 0 0 10px;
}

.btn-show {
    margin-right: 20px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid darkgoldenrod;
    color: rgb(39, 39, 39);
}

.btn-filter-click {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}

.carItem {
    background-color: rgba(39, 39, 39, 0.9);
    color: darkgoldenrod;
    margin-bottom: 20px;
    padding: 30px;
    width: 100%;
    transition: width 1s;
    border-radius: 10px 0 0 10px;
    width: 95%;
}

.details-btn {
    color: lightgray;
    background-color: rgb(39, 39, 39);
    border: darkgoldenrod 1px solid;
}

.details-btn:hover {
    color: rgb(39, 39, 39);
    background-color: darkgoldenrod;
}

.additional-btns {
    margin-bottom: 15px;
    margin-left: 20px;
}

.rent-div {
    padding: 30px;
}

.checkbox {
    color : darkgoldenrod;
}

.checkbox-input {
    size: 10px;
}

.cart-vehicles {
    height: 60vh;
    overflow: auto;
}

.dateFrom, .dateTo {
    margin-bottom: 15px;
}

.dateFrom  input, .dateTo input {
    width: 70%;
    display: inline;
}

.table1 th {
    border-bottom: rgb(102, 102, 102) 2px solid;
    color: lightgray;
}

.table1 td {
    padding: 5px;
    border-bottom: rgb(102, 102, 102) 0.5px solid;
    width: 25%;
}