.manage-comments {
    padding: 50px;
    color: darkgoldenrod;
}

.manage-comments hr {
    background-color: lightgray;
}

.manage-comments table {
    margin-top: 30px;
}

.table {
    color: lightgray;
    border: 2px solid #333333;
    width: 700px;
}