<table class="table">
    <caption>Messages</caption>
    <thead>
        <tr>
            <th scope="col">Receiver</th>         
            <th scope="col">Sender</th>         
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let mess of messages;let i = index;">
            <tr>
                <td>{{mess.receiverId}}</td>
                <td>{{mess.senderId}}</td>
                <td>{{mess.content}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>

<table class="table" >
    <caption>Reserved reservations</caption>
    <thead>
        <tr>
            <th scope="col">User</th>         
            <th scope="col">Content</th>  
            <th scope="col">Send</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let res of reservations;let i = index;">
            <tr *NgIf = "res.status === 'RESERVED' && res.owner === 1">
                <td>{{res.userId}}</td>
                <td><input type="text" id="{{i}}" name="text"  placeholder="Message" required></td>
                <td><button class="btn details-btn" (click)="sendMess(res.userId,i)">Send</button></td>
            </tr>
        </ng-container>
    </tbody>
</table>
